fastapi
uvicorn[standard]
python-dotenv
itsdangerous

google-api-python-client
google-auth
google-auth-oauthlib
pypdf
openai
tiktoken
sqlalchemy
psycopg2-binary
pgvector
pytest
pytest-asyncio
pytest-cov
cryptography
alembic
redis
rq
